@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .hambuger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  .topnav ul {
    display: none;
  }
  
  .navbar {
    display: none;
  }
  
  h1 {
    font-family: "lato", sans-serif;
    font-weight: 300;
    color: #ec5242;
  }
  
  h2 {
    font-family: "COCOGOOSE", sans-serif;
    font-weight: 700;
    color: #ec5242;
    font-size: 34px;
    margin-bottom: 40px;
  }
  
  hr {
    width: 10%;
    margin-top: 20px;
    height: 2px;
    background-color: #e41c06;
  }
  
  .description {
    font-family: "lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border: 3px solid white;
    line-height: 37px;
    color: #585858;
  }
  
  p {
    color: #585858;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }

  span {
    font-weight: 900;
    font-size: 19px;
    text-decoration: underline;

  }
  
  .bars {
    position: absolute;
    padding: 20px 30px;
  }
  
  .intro {
    margin-top: 100px;
  }
  
  .hero {
    background-image: url('../images/about-bg.png');
    background-color: #e9e7e7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 30px;
    width: 100%;
    height: 76vh;
    line-height: 25px;
  }

  @media only screen and (min-width: 768px) {
    .hambuger {
      display: none;
    }
  
    .topnav {
      background-color: #272a31;
      height: 35px;
      padding-right: 120px;
    }
  
    .topnav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
    }
  
    .topnav a {
      padding: 10px;
      text-decoration: none;
      color: white;
    }
  
    .topnav .fa-facebook {
      color: white;
    }
  
    .topnav .fa-twitter {
      color: white;
    }
  
    .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  
    .navbar ul {
      display: flex;
      align-items: center;
      list-style-type: none;
    }
  
    .navbar a {
      text-decoration: none;
      padding: 25px;
      color: #272a31;
    }
  
    .border-about {
        border: 4px solid #e41c06;
        color: #e41c06;
        padding: 10px;
    }
  
  /* Desktop Hero section */
  
.hero {
    height: 100vh;
}

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
    }
  
    h1 {
        font-size: 40px;
    }
  
    h2 {
        font-weight: 900;
        text-align: center;
        font-size: 40px;
    }
  
    .description {
        width: 90%;
        text-align: center;
    }
}  